%main#content.container
  .message
    %h2#message-content
      メッセージの作成
  = form_for [@teacher, @message], class: "message-form row" do |f|
    .message-body.form-group
      = f.label :body
      = f.text_field :body, placeholder: "メッセージを書く", class: "message-type form-control"
    .message--send.form-group
      = f.label :image
      = f.file_field :image
    = f.submit "作成する", class: "btn"
