%main#content.container
  %h2 ティーチャー情報を編集する
  = form_for teacher_path(current_teacher.id), class: "row" do |f|
    .field.form-group
      = f.label :name
      %br/
      = f.text_field :name, value: current_teacher.name, class: "form-control"
    .field.form-group
      = f.label :age
      %br/
      = f.text_field :age, value: current_teacher.age, class: "form-control"
    .field.form-group
      = f.label :email
      %br/
      = f.email_field :email, value: current_teacher.email, class: "form-control"
    .field.form-group
      = f.label :password
      - if @validatable
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "off", class: "form-control"
    .field.form-group
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
    .field.form-group
      = f.label :image
      %br/
      = f.file_field :image
    .actions
      = f.submit "編集する", class: "btn"
