%main#content.container
  .content__user
    %h2#titleUser.title ティーチャーー情報
    .teacherInfo.row
      .col-md-5
        = image_tag @teacher.image
      %h3.col-md-4
        = @teacher.name
      %h3.col-md-3
        = @teacher.age
    .teacherEdit
      - if teacher_signed_in?
        = link_to "ティーチャー情報を編集する", edit_teacher_path(@teacher.id)
    .writeReview
      = link_to "レビューを書く", new_teacher_review_path(@teacher.id)
