%header#header
  %a#header__logo{:href => "/"}
    BEMEN(ロゴ)
  %nav#header__nav
    %ul.menu
      %li.menu__list
        = link_to "イケメンズ一覧"
      %li.menu__list
        = link_to "メッセージ"
      - if user_signed_in?
        %li.menu__list
          = link_to "マイページ", user_path(current_user.id)
        %li.menu__list
          = link_to "ログアウト", destroy_user_session_path, method: :delete
      - else
        %li.menu__list
          = link_to "ログイン", new_user_session_path
        %li.menu__list
          = link_to "新規登録", new_user_registration_path
